@import "~typeface-roboto";

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
